* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/*----------------Barra de navegacion--------------- */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0 10%;
    overflow: hidden;
    position: fixed;
    font-size: 20px;
    top: 0;
    width: 100%;
    transition: 0.4s;
    background-color: rgba(0, 0, 0, 0.0);
    font-weight: bold;
}

li {
    float: left;
    width: 25%;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
    color: white;
}


/* ----------------Header--------------- */

.header {
    float: left;
    text-align: center;
    background-image: url("../img/Fondo1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    background-size: initial;
    font-size: 50px;
    color: white;
}

.header h1 {
    padding-right: 50%;
    padding-bottom: 30px;
    padding-left: 7%;
}


/* --------------Columnas----------------- */

.one-column {
    float: left;
    width: 100%;
}

.one-column h2 {
    padding: 3%;
    font-size: 70px;
    text-align: center;
    font-weight: 0;
}

.one-column h3 {
    padding: 3%;
    font-size: 50px;
    text-align: center;
    font-weight: 0;
}

.one-column p {
    font-size: 30px;
    text-align: center;
    padding: 0% 5%;
}

.two-column {
    float: left;
    width: 50%;
    padding-top: 5%;
}

.two-column iframe {
    width: 100%;
    height: 90vh;
}

.two-column img {
    width: 100%;
    height: 90vh;
}

.two-column h2 {
    font-size: 30px;
}


/* ---------------Contador---------------- */

.ax {
    text-align: center;
    padding-bottom: 0%;
    font-weight: bold;
    font-style: oblique;
}

ex {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 3%;
    padding-top: 0%;
}

ex span {
    display: block;
    font-size: 4.5rem;
}


/* ----------------Boton--------------- */

.button {
    border: none;
    padding: 5% 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #008CBA;
}


/* ---------------Galeria---------------- */

div.gallery {
    margin: 0;
    float: left;
    width: 25%;
    border: 5px solid blue;
}

div.gallery img {
    width: 100%;
    height: ;
}


/* ---------------Fondos---------------- */

#Fondo1 {
    background: rgb(107, 101, 101);
    background: linear-gradient(180deg, rgb(107, 101, 101, 1) 0%, rgb(14, 189, 224) 100%);
}

#Fondo2 {
    background: rgb(14, 189, 224);
    background: linear-gradient(180deg, rgb(14, 189, 224, 1) 0%, rgb(107, 101, 101) 100%);
}


/* ---------------Secciones---------------- */

#Inicio {}

#Fecha {}

#Mapa {}

#Galeria {}


/* ---------------Otros---------------- */

@media screen and (max-width:700px) {
    /*----------------Barra de navegacion--------------- */
    ul {
        width: 100%;
    }
    li {
        float: left;
        width: 25%;
    }
    /* ----------------Header--------------- */
    .header {
        text-align: center;
        font-size: 30px;
    }
    .header h1 {
        padding-top: 5px;
        padding-right: 5%;
        padding-bottom: 30px;
        padding-left: 5%;
    }
    /* --------------Columnas----------------- */
    .one-column h2 {
        font-size: 45px;
    }
    .one-column h3 {
        font-size: 50px;
    }
    .one-column p {
        font-size: 20px;
    }
    .two-column {
        width: 100%;
    }
    .two-column iframe {
        height: 100vw;
    }
    .two-column img {
        height: 100vw;
    }
    /* ---------------Contador---------------- */
    ex {
        font-size: 1em;
        padding-bottom: 15%;
    }
    /* ----------------Boton--------------- */
    .button {
        font-size: 30px;
    }
    /* ---------------Galeria---------------- */
    div.gallery {
        width: 100%;
    }
}